<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Departments</title>
</head>
<body>
<h2>Department List</h2>
<a href="/departments/add">+ Add Department</a>
<table border="1" cellpadding="6">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    <tr th:each="d : ${departments}">
        <td th:text="${d.deptId}"></td>
        <td th:text="${d.deptName}"></td>
        <td>
            <a th:href="@{/departments/edit/{id}(id=${d.deptId})}">Edit</a> |
            <a th:href="@{/departments/delete/{id}(id=${d.deptId})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
